/* ===== VARIABLES START ===== */

/* LIGHT MODE */
:root {
  /*FONTS & TYPOGRAPHY */
  --font-base: "poppins", sans-serif;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
  --line-height-base: 1.6;
  --line-height-headings: 1.3;

  /* COLORS */
  --primary: #27B226;
  --primary-bold: #015300;
  --secondary: #017500;
  --hover: #019000;

  --white: #FFFFFF;
  --stroke: #EBEBEB;

  --hamburger-bg: transparent;
  --hamburger-bars: #333333;

  --nav-bg: #ffffff;
  --nav-bg-scrolled: rgba(255, 255, 255, 0.6);

  --menu-items: #333333;
  --menu-items-hover: var(--hover);

  --text-black-heading: #232323;
  --text-black-body: #535353;

  --text-white-heading: #ffffff;
  --text-white-body: #dcdcdc;

  --testimony-text: #ffffff;
  --testimony-subtitle: #ebebeb;

  --footer-bg: #FAFFFA;
  --footnote-text: #b9b9b9;



  /* BORDERS & SIZING */
  --radius8: 8px;
  --radius10: 10px;
  --radius12: 12px;
  --radius20: 20px;
  --border1: 1px solid var(--stroke);
  --border2: 2px solid var(--stroke);
  --desktop-section-side-padding: 2rem;
  --mobile-section-side-padding: 1rem;


  /* SHADOWS & TRANSITIONS */
  --soft-shadow-right: 8px 0px 14px rgba(0, 0, 0, 0.08);
  --soft-shadow-left: -8px 0px 14px rgba(0, 0, 0, 0.08);
  --soft-shadow-buttom: 0px 8px 14px rgba(0, 0, 0, 0.08);
  --hard-shadow-right: 8px 0px 14px rgba(0, 0, 0, 0.18);
  --hard-shadow-left: -8px 0px 14px rgba(0, 0, 0, 0.18);
  --hard-shadow-buttom: 0px 8px 14px rgba(0, 0, 0, 0.18);
  --transtion-fast: 0.25s;
  --transition-slow: 0.4s;

  /* BREAKPOINTS */
  /* mobile-breakpoint: 768px; */
}

/* DARK MODE */
:root.dark {
  --primary: #27B226;
  --primary-bold: #32D03C;
  --secondary: #28C235;
  --hover: #2EEA40;

  --white: #FFFFFF;
  --stroke: #2A2A2A;

  --hamburger-bg: transparent;
  --hamburger-bars: #E6E6E6;

  --nav-bg: #0F0F0F;
  --nav-bg-scrolled: rgba(15, 15, 15, 0.65);

  --menu-items: #EAEAEA;
  --menu-items-hover: var(--hover);

  --text-black-heading: #F1F1F1;
  --text-black-body: #C9C9C9;

  --text-white-heading: #FFFFFF;
  --text-white-body: #E2E2E2;

  --testimony-text: #FFFFFF;
  --testimony-subtitle: #CFCFCF;

  --footer-bg: #111111;
  --footnote-text: #9A9A9A;
}

/* ===== VARIABLES END ===== */



/* section animation */
.animate-on-scroll {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease-out;
}
.animate-on-scroll.in-view {
  opacity: 1;
  transform: translateY(0);
}

/* fonts */
* {
  font-family: var(--font-base);
  line-height: var(--line-height-base);
  user-select: none;
}

body {
  margin: 0px;
  padding: 0px;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: var(--line-height-headings);
}
img {
  pointer-events: none;
}

/* hero section */
.hero-container {
  position: relative;
  min-height: 90vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* header & nav */
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 10;
}

/* Floating background wrapper */
.floating-bg {
  position: absolute;
  inset: 0;
  overflow: hidden;
  z-index: 0;
}

/* Blobs (blurred squares) */
.blob {
  position: absolute;
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
  filter: blur(110px);
  opacity: .1;
  animation: floatAround 12s infinite alternate ease-in-out;
}

/* Blob colors */
.blob1 {
  background: brown;
  animation-duration: 14s;
}
.blob2 {
  background: var(--primary-bold);
  animation-duration: 18s;
}

/* Keyframes for natural movement */
@keyframes floatAround {
  0%   { transform: translate(-10%, -10%) rotate(0deg); }
  25%  { transform: translate(60%, -20%) rotate(25deg); }
  50%  { transform: translate(30%, 60%) rotate(45deg); }
  75%  { transform: translate(-20%, 50%) rotate(20deg); }
  100% { transform: translate(20%, -30%) rotate(0deg); }
}


/* Hero Section */
.hero-body {
  padding: 0rem var(--desktop-section-side-padding);
}
.hero-info{
  max-width: 500px;
  text-align: center;
}
.hero-heading {
  color: var(--text-black-heading);
  font-size: 2rem;
}
.hero-description {
  color: var(--text-black-body);
}
.hero-buttons {
  margin-top: 1.5rem;
  gap: .4rem;
}

@media (max-width: 768px) {
  .hero-container{
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .hero-body {
    padding: 0rem var(--mobile-section-side-padding);
    height: 100vh;
    align-content: center;
  }
  .hero-heading, .hero-description{
    text-align: center;
  }
  .hero-buttons {
    justify-content: center;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Back to top button */
#back-to-top {
  color: var(--primary-bold);
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 5;
  box-shadow: var(--hard-shadow-buttom);
  display: none;
  transition: var(--transition-slow);
}
#back-to-top:hover {
  color: var(--hover);
}
#back-to-top.show {
  display: flex;
  opacity: 1;
}
#back-to-top.hide {
  opacity: 0;
}

/* KPI Container */
.kpi-container {
  position: absolute;
  margin-top: -60px;
  background-color: var(--white);
  box-shadow: var(--soft-shadow-buttom);
  border: var(--border1);
  border-radius: var(--radius10);
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  gap: 2rem;
  padding: 30px 40px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .kpi-container {
    position: relative;
    margin: 0px;
    box-shadow: none;
    border: none;
    border-radius: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0;
    padding-bottom: 2rem;
  }
}

/* About Section */
.about-section {
  max-width: 1100px;
  display: flex;
  padding: 2rem var(--mobile-section-side-padding);
  padding-top: 10rem;
  justify-self: center;
}
.about-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.about-description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 46%;
}
.wapi-age{
  align-self: left;
}
.wapi-age img {
  width: 160px;
  height: auto;
}
.about-text {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.about-text h2 {
  color: var(--primary-bold);
  font-weight: var(--font-bold);
}
.about-text p {
  color: var(--text-black-body);
}
.gallery-preview {
  width: 100%;
}
@media (max-width: 768px) {
  .about-section {
    padding-top: 0;
  }
  .about-container {
    border-top: var(--border1);
    flex-direction: column;
    padding: 2rem var(--mobile-section-side-padding);
    justify-content: center;
    align-items: center;
  }
  .about-description {
    min-width: 100%;
  }
  .wapi-age{
  align-self: center;
  }
  .about-text {
  justify-content: center;
  align-items: center;
  }
  .about-text h2 {
    text-align: center;
  }
  .about-text p {
    text-align: center;
  }
  .gallery-preview {
    margin-top: 1rem;
  }
}

/* Partners Section */
.partners-section {
  background-color: var(--primary-bold);
  padding: 2rem 0;
  display: flex;
  justify-content: center;
}
.partners-container {
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  padding: 0 var(--mobile-section-side-padding);
}
.partners-container h2 {
  color: var(--text-white-heading);
  text-align: center;
}
.partners-container p {
  color: var(--text-white-body);
  text-align: center;
}
.partners-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.partners-logo img {
  width: 100px;
  height: auto;
  margin: 10px;
}


/* More section home page */
.more-section-home {
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  justify-self: center;
}
/* What we offer section */
.what-we-offer {
  padding: 2rem var(--mobile-section-side-padding);
  text-align: center;
}
.what-we-offer h2 {
  margin-bottom: -10px;
  color: var(--text-black-heading);
}
.what-we-offer p {
  color: var(--text-black-body);
}
.what-we-offer-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: .4rem;
  
}


/* What parents say*/
.what-parents-say {
  padding: 2rem var(--mobile-section-side-padding);
  text-align: center;
}
.what-parents-say h2 {
  margin-bottom: -10px;
  color: var(--text-black-heading);
}
.what-parents-say p {
  color: var(--text-black-body);
}


/* News and Events*/
.news-events {
  padding: 2rem var(--mobile-section-side-padding);
  text-align: center;
}
.news-events h2 {
  margin-bottom: -10px;
  color: var(--text-black-heading);
}
.news-events p {
  color: var(--text-black-body);
}

.events-single-page-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.events-main-container {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  max-width: 900px;
  margin-top: 100px;
}
.social-icons {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .8rem;
  gap: 10px;
}
.event-post-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 1rem;
}
.event-image {
  border-radius: var(--radius8);
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.events-main-container #title {
  font-size: 1.8rem;
  font-weight: var(--font-bold);
}
.events-main-container #date {
  font-size: .9rem;
  font-weight: var(--font-regular);
  color: var(--text-black-body);
}

@media (max-width: 768px) {
  .events-main-container {
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-top: 80px;
}
.event-post-content {
  width: 100%;
  padding: .8rem;
}
}


/* Footer section */
.footer-section {
  padding: var(--mobile-section-side-padding);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.admission-banner {
  width: 100%
}
.footer-block {
  max-width: 1400px;
}
.footnote {
  height: 80px;
  overflow-y: clip;
  align-items: center;
}
.footnote p {
  font-size: 8rem;
  font-weight: var(--font-extrabold);
  color: var(--white);
  text-shadow: 1px 1px 0px var(--stroke), 
                -1px -1px 0px var(--stroke), 
                1px -1px 0px var(--stroke), 
                -1px 1px 0px var(--stroke);
  margin: 0px;
  margin-top: -40px;
}
.footnote-fade {
  background: linear-gradient(
      to top,
      rgb(255, 255, 255),
      rgba(0, 0, 0, 0)
    );
  width: 100%;
  height: 60px;
  position: relative;
  margin-top: -140px;
}
@media (max-width: 768px) {
  .footnote p {
    font-size: 7rem;
  }
  .footnote-fade {
    margin-top: -120px;
  }
}
